.card {
  display: flex;
  justify-content: center;
  position: relative;
  width: 320px;
  height: 328px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  background-color: #ffffff;
  border-radius: 4px;
  height: 24px;
  width: 73px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  align-content: center;
}
.card__image {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}
