.modal__delete-content {
  width: 670px;
  height: 280px;
}
.modal__text-container {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.modal__title,
.modal__text {
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}
.modal__delete-btns-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.modal__delete-cancel {
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: 20px;
  margin-top: 24px;
}
