.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 85px;
}
.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 18px;
}
.cards__text {
  font-weight: 700;
  font-size: 20px;
}
