.header {
  display: flex;
  padding: 32px 0 28px;
}
.header__logo {
  margin-right: 24px;
}
.header__add-clothes-btn {
  align-items: center;
  margin: 0 20px 0 auto;
}
.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__date-and-location {
  align-self: center;
}
.header__date-and-location,
.header__username {
  margin: 0;
}
