.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 387px;
  padding-right: 116px;
}
.sidebar-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 289px;
}
.sidebar-avatar {
  width: 56px;
  height: 56px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}
.sidebar__logout-btn,
.sidebar__edit-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin-top: 24px;
  text-align: left;
  color: #000000;
  line-height: 100%;
}
.sidebar__edit-btn:hover {
  opacity: 0.6;
}
.sidebar__container-btns {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
