.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 387px;
  padding-right: 116px;
}
.sidebar-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: 289px;
}
.sidebar-avatar {
  width: 56px;
  height: 56px;
}
