.footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  align-items: center;
  margin-top: auto;
}
.footer__developer-rights,
.footer__year {
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
